<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.lsinf1225.g16.mini_poll">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/survey_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden">
        <activity android:name=".activity.ConnexionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ProfileEditActivity" />
        <activity android:name=".activity.ProfileCreateActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.MenuMainActivity" />
        <activity android:name=".activity.MenuSurveyCreationActivity" />
        <activity android:name=".activity.CreationAgreementActivity" />
        <activity android:name=".activity.CreationQuestionActivity" />
        <activity android:name=".activity.CreationChoiceActivity" />
        <activity android:name=".activity.FriendsActivity" />
        <activity android:name=".activity.FriendsAddActivity" />
        <activity android:name=".activity.FriendsListActivity" />
        <activity android:name=".activity.MenuAgreementActivity" />
        <activity android:name=".activity.MenuQuestionActivity" />
        <activity android:name=".activity.MenuChoiceActivity" />
        <activity android:name=".activity.ReplyAgreementActivity" />
        <activity android:name=".activity.ReplyQuestionActivity" />
        <activity android:name=".activity.ReplyChoiceActivity" />
    </application>

</manifest>